<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Please enter a word to get a pig latin:
      <input type="text" name="user_input">
    </p>
    <input type="submit" id="submit">
  </body>
</html>